nav a{
	
	margin:0;
	padding:0;
	

display: inline;
	text-align: center;
	padding: 14px 10px;
	text-decoration:none;
	color: black;
	font-size: 18px;

}

nav{
	padding-bottom: 50px;
}
nav a:hover {
	color: #ffb3b3;

}

} 
nav a:link{
	color: black;
}


.header {
	display: block;
	margin: auto;
	width:100%;
	font-family: helvetica;
	text-align: center;

	
}
.header h1{
	display: block;
	margin: auto;
	width: 100%;
}
.main-img img{

	display: block;
	margin: auto;
	width: 50%;
	
	padding:10px;
	border: 5px;

}
.contact-list{
	display: block;
	margin: auto;
	width: 30%;
}
.contact-list ul{
	list-style-type:none;
}
@media screen and (max-width: 485px){
nav a{
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 2px solid white;

}
nav a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav-2:hover {
	color: #ffb3b3;
} 
#nav-3:hover {
	color: #ffb3b3;
} 
}