nav a{
	
	margin:0;
	padding:0;
	

display: inline;
	text-align: center;
	padding: 14px 10px;
	text-decoration:none;
	color: black;
	font-size: 18px;
	

}

nav{
	padding-bottom: 10px;
	position: fixed;
}
nav a:hover {
	color: #0066ff;

}

nav a:link{
	color: black;
}



.main-img img{

	display: block;
	margin: auto;
	width: 70%;
	padding:10px;
	border: 5px;

}

.header {
	display: block;
	margin: auto;
	width:100%;
	font-family: helvetica;
	text-align: center;

	
}
.header h1{
	display: block;
	margin: auto;
	width: 40%;


}
.header p{
	width:100%;
	font-family: arial;
}
.sign-up {
	display: block;
	margin: auto;
	width:40%;
	
}
#end{
	padding-bottom: 10px;
}
.sign-up input{
	width:100%;
border: 2px solid black;
border-radius: 4px;
padding: 5px 5px;
margin: 8px 0px; 
}

.sign-up input[type=text]{
width:100%;
border: 2px solid black;
border-radius: 4px;
padding: 5px 5px;
margin: 8px 0px; 

}
.submit input{
	width:100%;
border: 100% solid black;
border-radius: 4px;
padding: 5px 5px;
margin: 8px 0px; 
background-color: white;
font-size: 16px;
}

#pop-up:hover{
	border-color: #0066ff;
}
@media screen and (max-width: 485px){
nav{
	position: static;
}
nav a{
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 2px solid white;

}
nav a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav-2:hover {
	color: #0066ff;
} 
#nav-3:hover {
	color: #0066ff;
} 
}