nav a{
	
	margin:0;
	padding:0;
	

display: inline;
	text-align: center;
	padding: 14px 10px;
	text-decoration:none;
	color: black;
	font-size: 18px;

}

nav{
	padding-bottom: 10px;
}
nav a:hover {
	color: red;

}
#nav-2:visited {
	color: #ffb3b3;
} 
#nav-3:visited {
	color: #ffb3b3;
} 
nav a:link{
	color: black;
}



.main-img img{

	display: block;
	margin: auto;
	width: 40%;
	padding:10px;
	border: 5px;

}

.header {
	display: block;
	margin: auto;
	width:40%;
	font-family: helvetica;

	
}
.header h1{
	display: block;
	margin: auto;
	width: 40%;


}
.header p{
	width:100%;
	font-family: arial;
}
.sign-up {
	display: block;
	margin: auto;
	width:40%;
	
}
#end{
	padding-bottom: 10px;
}
.sign-up input{
	width:100%;
border: 2px solid black;
border-radius: 4px;
padding: 5px 5px;
margin: 8px 0px; 
}

.sign-up input[type=text]{
width:100%;
border: 2px solid black;
border-radius: 4px;
padding: 5px 5px;
margin: 8px 0px; 

}
.submit input{
	width:17%;
	border: 2px solid black;
	color: black;
	
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: white;
}

#pop-up:hover{
	border-color: red;
}
