nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;



}

nav li {
	display: inline;
	font-size: 18px;
	padding-left:10px;
	font-family: Helvetica Arial Sans-Serif;
	float: left;
}
nav li:hover {
	color: red;

}
nav a:visited{
	color:black;

}
nav a{
	text-decoration: none;
}
nav{
	background-color: 
}
nav li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}
.main-img img{

	display: block;
	margin: auto;
	width: 40%;
	padding:10px;
	border: 5px;

}

.header {
	display: block;
	margin: auto;
	width:40%;
	font-family: helvetica;

	
}
.header h1{
	display: block;
	margin: auto;
	width: 40%;

}
.header p{
	width:100%;
}
.sign-up {
	display: block;
	margin: auto;
	width:40%;
	background-color: ;
}
#end{
	padding-bottom: 10px;
}
.sign-up input{
	width:100%;
border: 2px solid black;
border-radius: 4px;
}

.sign-up input[type=text]{
width: 100%
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid red;
border-radius: 4px;

}
.submit input{
	width:15%;
	border-color: white;
	color: white
}